* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
  font-size: 16px; 
}
body {
    background-color: darkgray;
}
main {
    background-color: rgba(49, 47, 47, 0.938);
    width: 550px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.349);  
 
}
h1 {
  font-size: 2em;
  color: cadetblue;
}
a{
  text-decoration-line: none;
  font-weight: bold;
  color: darkblue;
}
img.lado{
  float: right;
}
a:hover{
  text-decoration: underline;
  color: chartreuse;
}
p {
  color: rgb(240, 238, 236);
}